.home {

  .card {
    overflow: hidden;
    &--margin {
      margin-bottom: 24px;
    }
  }
  .card1 {
    height: 113px;
    text-overflow: ellipsis;
    word-wrap: normal;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-indent: 24px;
    font-weight: 700;
    color: #888;
  }
}